#Database configuration (Defaults to local file-based SQLite database)
DATABASE_URL="file:./dev.db"

#JWT Auth Secret for signing session cookies / tokens
JWT_SECRET="generate-a-secure-random-key-here-for-production"
